* :focus {
    outline: none;
}


/* left side menu */
@media screen and (max-width: 768px){
    #leftSideMenu {
        border: 2px white solid;
        background-color: #e6ecf0;
        padding-top: 5px;
        visibility: hidden;
        clear: both;
        display: none;
        padding-left: 1rem;
    }}
#leftSideMenu {
    position: fixed;
    top: 58;
    min-width: 470px;
}
.card-body{
    border: none;
}

.twittericon{
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: transparent; 
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.birdimg{
    max-width: 40px;
    max-height: 40px;
    border-color: transparent; 
    border-radius: 50%;
}

.btn-lg {
    width: 100%;
    position: relative;
    left: 0px;
}

/* end */


/* Header  */
/* Right Side Menu */
@media screen and (max-width: 992px){
#rightSideMenu {
    border: 2px white solid;
    background-color: white;
    padding-top: 5px;
    visibility: hidden;
    clear: both;
    display: none;
    padding-left: 1rem;
}}

.searchBar {
    border-radius: 15px;
}

.trend {
    margin-top: 2%;
    margin-bottom: 6%;
    background-color:#f6f8fa;
    list-style-type: none;
    border-radius: 10px;
    padding: 4% 4% 0% 4%;
}
.myLi{
    height: 40px;
    line-height: 10px;
    margin-top: 5px;
    margin-bottom: 1px; 
    position: relative;
    top : 5px;
    cursor: pointer;
}

.ulFoot {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 14px;
    position: relative;
    right : 20px;
    top : 5px;
}

.myBtn {
    height: 30px;
    padding-bottom: 1px;
    width: 80px;
    border-radius: 15px;
    position: absolute;
    right: 16px;
    bottom: 10px;
    background-color: transparent
}

.btn-sm {
    background-color: rgb(29, 161, 242);
    border: none;
}

 /* Right Side Menu */

/* add style to js */
.img-add {
    width: 70%;
    height: auto;
}

.avatarPost {
    width: 45px;
    height: auto;
    border-radius: 50%;
}

.avaReTweet {
    width: 45px;
}

#largeTweetBtn {
    background-color: rgb(29, 161, 242);
    border: none;
}

.card-body > a {
    background-color: rgb(29, 161, 242);
    border: none;
    text-decoration: none;
}

.rightSideMenu > a {
    background-color: rgb(29, 161, 242);
    text-decoration: none;
}

@media screen and (max-width: 1280px){
.placeHolder {
    visibility: hidden;
}
}

@media screen and (max-width: 1920px){
    .placeHolder {
        visibility: visible;
    }
    }