
#header{
    padding: 15px  0 10px 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
/* create post */

#avatar > img{
    width: 60px;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}
#inputArea > #text{
    font-size: 20px;
    border: none;
}
#inputArea {
    padding: 20px 20px 20px 0px;
}
#iconButton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
}
#iconButton > i{
    margin-left: 20px;
    font-size: 20px;
    color: rgba(29,161,242,1.00);
}

#remainingChars{
    color: rgb(29, 161, 242);
    margin-right: 10px;
    font-size: .9rem;
}
#postButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#footerCreatePost{
    padding-bottom: 10px;
}
#textarea{
    border: none !important;
    font-size: 1.5rem;
    width: 100%;
}
textarea {
    resize: none;
}
textarea :focus {
    outline: none;
}


#mainColumn{
    min-width: 350px;
}

#header, #createPost{
    background-color: #fff;
    border: none;
} 

#createPost {
    min-height: 7rem;
    padding-bottom: 1rem;
    background-color: #e6ecf0;
}

#avatar, #createPostArea {
    background-color: #fff;
}


#iconButton > button :hover {
    background-color: rgb(223, 236, 247);
    color: rgb(155, 190, 218);
    padding: 7px;
    border-radius: 50%;
}


/* list post */
.popover{
    z-index: 0
}
.post {
    background-color: #fff;
    min-height: 7rem; 
    border: 0.7px solid rgb(246,248,250);
    border-top: none;
}

#postImage{
    width: 100%;
    height: auto;
}
#popover-content{
    padding: 0;
}
#popover-button{
    border-radius: 0;
    text-align: left;
    border: none;
}
/* post footer */
#postStatistic{
    display: flex;
    justify-content: space-between;
}
#postReact{
    display: flex;
    justify-content: space-around;
}
.clicked{
    color: #007bff
}
hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #cccccc;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 6px;
    
}
#postStatisticText > p{
    margin-bottom: 0.5em!important;
}
#commentTextarea{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    margin-left: 3px;
}
#commentInput > textarea{
    padding-left: 15px!important;
    padding-right: 45px!important;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}
#commentInput{
    display: flex;
    flex-wrap: nowrap
}
#comment-button{
    position: relative;
    right: 40px;
    bottom:5px;
    border: none;
    border-radius: 50%;
}
#comment-button:hover{
    color:#007bff!important
}
/* END */
